body {
    font-family: "Roboto Regular", Tahoma, sans-serif;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    margin: 0px ;
}

.nav-bar {
    display: flex;
    flex: 1;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(179, 171, 171);
    align-items: center;
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

li {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.mid-logo {
    display: flex;
    flex: 1;
}

.mid-logo img {
    padding-left: 250px;
    height: 60px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: end;
}

.right ul {
    padding: 0px 250px 0px 0px;
}

.hero {
    display: flex;
    padding-top: 150px;
    background-color: #1F2937;
    justify-content: space-between;  
}

.hero-text {
    padding: 0px 0px 0px 250px;
}

.hero-text h1 {
    font-weight:bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

.hero-text p {
    font-weight: 18px;
    color: #E5E7EB;
}

.hero-img img {
    width: 450px;
    height: 210px;
    padding-right: 250px;
}

.signup {
    color: white;
    background-color: rgb(59, 59, 163);
    font-size: 17px;
    padding: 7px;
    max-width: 75px;
    text-align: center;
    border-radius: 8px;
}

.sri-text {
    text-align: center;
}

.sri-img .img {
    width: 150px;
    height: 150px;
}

.sri-img {
    display: flex;
    justify-content: center;
}

.sri-img ul img {
    width: 240px;
    height: 280px;
}

li .text {
    max-width: 240px;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 80px;
}

.quote-sec {
    margin-top: 100px;
    padding: 150px;
    background-color: #E5E7EB;
    margin: 0px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    margin: 0px 250px;
    font-style: italic;
}

.quote-author {
    margin: 40px 250px 0px 960px;
    font-size: 22px;
    font-weight: bold;
}

.signup-end-outside {
    border: 4px solid blue;
    padding: 110px; 
}

.signup-end-text {
    flex: 1 0 0;
    justify-content: center;
    padding: 50px;
    background-color: rgb(108, 108, 230);
    border-radius: 20px;
}

.signup-end-text .txt,p {
    color: white;
    margin-left: 40px;
}

.signup-end-text p {
    margin-top: 0px;
    font-size: 16px;
}

.signup-end-text .txt {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 20px;
}
